body {
    background: beige;
}

img {
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-family: 'Ultra', serif;
    color: hsl(0, 55%, 60%);
}

h1 {
    text-align: center;
}

p,
li {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}